body 
{
 background: url(662772.jpg);
 background-repeat: no-repeat;
 background-size: 1920px 1080px;
 background-origin: content-box, padding-box;
}

body {
   font-family:'Open Sans', Arial, sans-serif;
   font-size:18px;
   font-weight:400;
   line-height:1.6em;
   color:#FFDB89;
   text-shadow: black 0px 0px 20px;
}



